<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EmpMonitor Automation Suite">
    <test thread-count="5" name="EmpMonitor Regression">
        <classes>
            <class name="Tests.LoginTest"/>
            <class name="Tests.AlertPoliciesTest"/>
            <class name="Tests.AutoMailDeleteTest"/>
            <class name="Tests.EmployeeRegistrationTest"/>
        </classes>
    </test>
</suite>
